root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# Code files
[*.cs]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props}]
indent_style = space
indent_size = 2

# Static coce analysis
[*]
vsspell_section_id = main
vsspell_ignored_words_main = File:dictionary.dic

csharp_style_inlined_variable_declaration = true:warning # IDE0018: Inline variable declaration
csharp_prefer_simple_default_expression = true:warning # IDE0034: Simplify 'default' expression
dotnet_style_prefer_compound_assignment = true:warning # IDE0054: Use compound assignment
csharp_style_unused_value_assignment_preference = discard_variable:warning # IDE0059: Unnecessary assignment of a value

dotnet_diagnostic.IDE0079.severity = none    # Unnecessary suppression
dotnet_diagnostic.IDE0130.severity = none    # Namespace does not match folder structure
dotnet_diagnostic.IDE1006.severity = none    # Naming Styles
dotnet_diagnostic.IDE0005.severity = warning # Using directive unnecessary
dotnet_diagnostic.IDE0090.severity = warning # Simplify new expression

dotnet_diagnostic.VSSpell001.severity = silent # Correct spelling