name: Code coverage
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"
      - name: Generate coverage report
        run: dotnet test ./specs/Qowaiv.Specs -f net8.0 /p:CollectCoverage=true /p:ThresholdType=branch /p:CoverletOutputFormat=lcov --configuration Release
      - name: Publish coverage report to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./specs/Qowaiv.Specs/coverage.net8.0.info
