name: Code coverage
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET 9.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"
      - name: Generate coverage report
        run: |
          dotnet test ./specs/Qowaiv.Specs -f net9.0 \
          --configuration Release \
          --collect:"XPlat Code Coverage;Format=lcov"
      - name: Get path to lcov file
        shell: bash
        run: echo "LCOV_PATH=$(find /home/runner/work/Qowaiv/Qowaiv/specs/Qowaiv.Specs/TestResults -name coverage.info)" >> $GITHUB_ENV
      - name: Publish coverage report to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ env.LCOV_PATH }}
